@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Floating WhatsApp Button */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above other content */
  display: none; /* Hidden by default */
}

@media (max-width: 768px) { /* Show only on mobile devices */
  .whatsapp-button {
    display: block;
  }
}

.whatsapp-button img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Make it round */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
